/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

body.darkCode .hljs {
  background: #f4f4f4;
  color: #111111;
}

body.darkCode .hljs-keyword,
body.darkCode .hljs-literal,
body.darkCode .hljs-symbol,
body.darkCode .hljs-name {
  color: rgb(65, 120, 223);
}
body.darkCode .hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

body.darkCode .hljs-built_in,
body.darkCode .hljs-type {
  color: #4EC9B0;
}

body.darkCode .hljs-number,
body.darkCode .hljs-class {
  color: #a77afe;
}

body.darkCode .hljs-string,
body.darkCode .hljs-meta-string {
  color: #1ca0fd;
}

body.darkCode .hljs-regexp,
body.darkCode .hljs-template-tag {
  color: #76d9e6;
}

body.darkCode .hljs-subst,
body.darkCode .hljs-function,
body.darkCode .hljs-title,
body.darkCode .hljs-params,
body.darkCode .hljs-formula {
  color: #666666;
}

body.darkCode .hljs-comment,
body.darkCode .hljs-quote {
  color: #6f705e;
  font-style: italic;
}

body.darkCode .hljs-doctag {
  color: #608B4E;
}

body.darkCode .hljs-meta,
body.darkCode .hljs-meta-keyword,
body.darkCode .hljs-tag {
  color: #9B9B9B;
}

body.darkCode .hljs-variable,
body.darkCode .hljs-template-variable {
  color: #fff;
}

body.darkCode .hljs-attr,
body.darkCode .hljs-attribute,
body.darkCode .hljs-builtin-name {
  color: #1fc3a8;
}

body.darkCode .hljs-section {
  color: gold;
}

body.darkCode .hljs-emphasis {
  font-style: italic;
}

body.darkCode .hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/

body.darkCode .hljs-bullet,
body.darkCode .hljs-selector-tag,
body.darkCode .hljs-selector-id,
body.darkCode .hljs-selector-class,
body.darkCode .hljs-selector-attr,
body.darkCode .hljs-selector-pseudo {
  color: #ef3b7d;
}

body.darkCode .hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

body.darkCode .hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}



/* Koji doc specific changes */

body.darkCode code {
  background-color: #f4f4f4;
  color: #111111;
  border-color: #f4f4f4;
  border-radius: 2.5px;
}

body.darkCode .hljs .lineNum:after {
  color: #666666;
}

body.darkCode .listingblock pre button, body.darkCode .lang-indicator {
  color: #888888;
}

body.darkCode .listingblock pre button:after {
  color: #AAA;
}

body.darkCode .tabbed .tabbed__toggle {
  color: #666666;
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0.7;
}

body.darkCode .tabbed .tabbed__toggle.tabbed__toggle_active, body.darkCode .tabbed .tabbed__toggle.tabbed__toggle_active:after {
  background-color: #f4f4f4;
  color: #111111;
  opacity: 1;
}

body.darkCode .tabbed .tabs .tabbed__tab {
  background-color: #f4f4f4;
  color: #666666;
}

body.darkCode .tabbed .tabs .tabbed__tab a {
  color: #666666;
}

body.darkCode .tabbed .tabs .tabbed__tab .admonitionblock .content code {
  background-color: #f4f4f4;
  color: #666666;
  overflow: hidden;
}

body.darkCode code .collapsible:after {
  background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}
body.darkCode code .collapsible:before {
  color: #1E1E1E;
}