/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/

.hljs {
  color: #c9d1d9 !important;
  background: #0d1117 !important;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #ff7b72 !important;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #d2a8ff !important;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #79c0ff !important;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #a5d6ff !important;
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #ffa657 !important;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #8b949e !important;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #7ee787 !important;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #c9d1d9 !important;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #1f6feb !important;
  font-weight: bold !important;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #f2cc60 !important;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #c9d1d9 !important;
  font-style: italic !important;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #c9d1d9 !important;
  font-weight: bold !important;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #aff5b4 !important;
  background-color: #033a16 !important;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffdcd7 !important;
  background-color: #67060c !important;
}

.highlight > code {
  padding: 15px !important;
  margin-bottom: 20px !important;
  -webkit-font-smoothing: auto;
  font-size: 14px !important;
  border-radius: 5px !important;
}

.listingblock {
  border: none !important;
}

p > code {
  background-color: #fbf2e9 !important;
  padding: 6px !important;
  border-radius: 3px !important;
  -webkit-font-smoothing: auto !important;
  font-size: 14px;
}
