body {
  margin: 0;
  font-family: franklin-gothic-urw, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  color: #333333;
}

html {
  scroll-padding-top: 16px;
}

* {
  box-sizing: border-box !important;
}

pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
  border-radius: 4px;
  font-size: 13px;
}